{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget.html.twig' %}
{% block page_product_detail_ordernumber_container %}
    {{ parent() }}
    {% if page.extensions.promo_list.count > 0 %}
        <p>{{ 'product_promo_exam.promotion'|trans }}</p>
        <ul>
        {% for promo in page.extensions.promo_list %}
            <li>{{ promo.name }} {{ promo.discountRate }} {{ promo.startDate.format('dd-M-Y') }}-{{ promo.expiredDate.format('dd-M-Y') }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
